<div>
    <div class="bg-[#dadada] h-[350px]">
        <div class="max-w-[1440px] mx-auto pt-[20px]">
            <div class="flex">
                <div class="box">
                    <h1 class="title">DỊCH VỤ</h1>
                    <div>
                        <ul class="relative">
                            <li class="menu-footer">
                                <a routerLink="">Điều khoản sử dụng</a>
                            </li>
                            <li class="menu-footer">
                                <a routerLink="">Chính sách bảo mật</a>
                            </li>
                            <li class="menu-footer">
                                <a routerLink="">Liên hệ</a>
                            </li>
                            <li class="menu-footer">
                                <a routerLink="">Hệ thống nhà sách</a>
                            </li>
                            <li class="menu-footer">
                                <a routerLink="">Tra cứu đơn hàng</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box">
                    <h1 class="title">HỖ TRỢ</h1>
                    <div>
                        <ul class="relative">
                            <li class="menu-footer">
                                <a routerLink="">Hướng dẫn đặt hàng</a>
                            </li>
                            <li class="menu-footer">
                                <a routerLink="">Chính sách đổi trả - hoàn tiền</a>
                            </li>
                            <li class="menu-footer">
                                <a routerLink="">Phương thức vận chuyển</a>
                            </li>
                            <li class="menu-footer">
                                <a routerLink="">Phương thức thanh toán</a>
                            </li>
                            <li class="menu-footer">
                                <a routerLink="">Chính sách khách hàng mua sỉ</a>
                            </li>
                            <li class="menu-footer">
                                <a routerLink="">Chính sách khách hàng cho trường học</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box">
                    <h1 class="title">NHÀ XUẤT BẢN KIM ĐỒNG</h1>
                    <div>
                        <p>Giám đốc: Bùi Tuấn Nghĩa</p>
                        <p>Địa chỉ: Số 55 Quang Trung, Nguyễn Du, Hai Bà Trưng, Hà Nội</p>
                        <p>Số điện thoại: <a routerLink="#" class="hover:text-[#d51c24]">(+84) 1900571595</a> </p>
                        <p>Email: <a routerLink="#" class="hover:text-[#d51c24]">cskh_online@nxbkimdong.com.vn</a> </p>
                    </div>
                </div>
                <div class="box">
                    <h1 class="title uppercase">KẾT NỐI MẠNG XÃ HỘI</h1>
                    <div class="mb-[15px] flex">
                        <i class="fa text-[24px] text-sky-700"></i>
                        &ensp;
                        <a routerLink="https://www.facebook.com/nguyenthanhdat2704">Facebook</a>
                    </div>
                    <div class="flex">
                        <i class="fa text-[24px] text-red-500"></i>
                        &ensp;
                        <a routerLink="https://www.youtube.com/channel/UC4sDBq20omspK3BZdEfI5fQ">Youtube</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-[#979696] h-[30px] leading-[30px]">
        <div class="max-w-[1440px] mx-auto">
          <p class="text-center">COPYRIGHTS © 2021 BY NXB KIM ĐỒNG. POWERED BY HARAVAN</p>
        </div>
    </div>
</div>
